@use './settings' as settings;

.card
{
    border-width: map-get(settings.$container, 'border-width');
    border-style: map-get(settings.$container, 'border-style');
    border-radius: map-get(settings.$container, 'border-radius');
    overflow: map-get(settings.$container, 'overflow');
    box-shadow: map-get(settings.$container, 'box-shadow');
}

.card-header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-bottom-width: map-get(settings.$header, 'border-width');
    border-bottom-style: map-get(settings.$header, 'border-style');
    padding: map-get(settings.$header, 'padding-y') map-get(settings.$header, 'padding-x');
}

.card-title
{
    font-size: map-get(settings.$title, 'font-size');
    font-weight: map-get(settings.$title, 'font-weight');
}

.card-toolbar
{
    margin-left: auto;
    display: flex;
    align-items: center;

    gap: map-get(settings.$toolbar, 'content-gap');
}

.card-body
{
    padding: map-get(settings.$body, 'padding-y') map-get(settings.$body, 'padding-x');
}

.card
{
    @each $color, $property in settings.$theme-colors-container
    {
        @if ($color == 'default')
        {
            $header: map-get(settings.$theme-colors-header, 'default');

            border-color: map-get($property, 'border');

            .card-header
            {
                background-color: map-get($header, 'bg');
                border-color: map-get($header, 'border');
            }
        }
    }
}