<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obuluyor</title>
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>

    <div class="container py-4">
        <h1 class="mb-3">Ad Card</h1>
        <div class="ad-list-grid">
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
            <a href="#" class="ad-card" title="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın">
                <div class="ad-card-header">
                    <img src="../assets/img/ad/ilan-1.jpg" alt="Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın" class="ad-card-img">
                </div>
                <div class="ad-card-body">
                    <span class="ad-card-title">Royal Hobi Bahçeleri Tel Örgü-elektrik-su Altyapıs Nazilli-aydın</span>
                    <span class="ad-card-subtitle">İstanbul / Ümraniye</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>