<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obuluyor</title>
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>

    <div class="container py-4">
        <h1 class="mb-3">Ad Navigation</h1>
        <div class="row">
            <div class="col-xl-3">
                <nav class="ad-nav">
                    <!-- begin:: Ad Nav Section -->
                    <div class="ad-nav-section">
                        <div class="ad-nav-section-header">
                            <span class="ad-nav-section-icon">
                                <img src="../assets/img/icons/emlak.png" alt="Emlak" class="ad-nav-section-img">
                            </span>
                            <span class="ad-nav-section-label">Emlak</span>
                        </div>
                        <div class="ad-nav-section-body">
                            <ul class="ad-nav-menu">
                                <li>
                                    <a href="#">
                                        Konut
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        İş Yeri
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Devremülk
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Arsa
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Bina
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Turistik Tesis
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Ad Nav Section -->
                    <!-- begin:: Ad Nav Section -->
                    <div class="ad-nav-section">
                        <div class="ad-nav-section-header">
                            <span class="ad-nav-section-icon">
                                <img src="../assets/img/icons/vasta.png" alt="Vasıta" class="ad-nav-section-img">
                            </span>
                            <span class="ad-nav-section-label">Vasıta</span>
                        </div>
                        <div class="ad-nav-section-body">
                            <ul class="ad-nav-menu">
                                <li>
                                    <a href="#">
                                        Otomobil
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Motosiklet
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Ticari Araç
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Karavan
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Minibüs
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Otobüs
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Ad Nav Section -->
                    <!-- begin:: Ad Nav Section -->
                    <div class="ad-nav-section">
                        <div class="ad-nav-section-header">
                            <span class="ad-nav-section-icon">
                                <img src="../assets/img/icons/yedekparca.png" alt="Yedek Parça & Tuning" class="ad-nav-section-img">
                            </span>
                            <span class="ad-nav-section-label">Yedek Parça & Tuning</span>
                        </div>
                        <div class="ad-nav-section-body">
                            <ul class="ad-nav-menu">
                                <li>
                                    <a href="#">
                                        Oto Yedek Parça
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Motosiklet Yedek Parça
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Ticari Araç Yedek Parça
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Oto Aksesuar
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Motosiklet Aksesuar
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Ticari Araç Aksesuar
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Ad Nav Section -->
                    <!-- begin:: Ad Nav Section -->
                    <div class="ad-nav-section">
                        <div class="ad-nav-section-header">
                            <span class="ad-nav-section-icon">
                                <img src="../assets/img/icons/alveri.png" alt="İkinci El ve Sıfır Alışveriş" class="ad-nav-section-img">
                            </span>
                            <span class="ad-nav-section-label">İkinci El ve Sıfır Alışveriş</span>
                        </div>
                        <div class="ad-nav-section-body">
                            <ul class="ad-nav-menu">
                                <li>
                                    <a href="#">
                                        İkinci El Eşya
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sıfır Eşya
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        İkinci El Giyim
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        İkinci El Kitap
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        İkinci El Elektronik
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        İkinci El Mobilya
                                        <span class="ad-nav-menu-item-count">(0)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Ad Nav Section -->
                </nav>
            </div>
        </div>
    </div>
</body>
</html>