<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obuluyor</title>
    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
    <div class="container py-4">
        <h1 class="mb-3">Search Box</h1>

        <div class="search-box search-box-dark">
            <input type="text" placeholder="Kelime veya ilan numarasına göre ara..." class="search-box-input">
            <button type="submit" class="search-box-btn">
                <span class="search-box-btn-icon">
                    <i class="far fa-search"></i>
                </span>
            </button>
        </div>
    </div>
</body>
</html>