@use 'settings' as settings;

.link {
    display: inline-flex;
    align-items: center;
    transition: $transition-duration $transition-timing-function;
    position: relative;

    gap: map-get(settings.$link, 'spacing');
    font-size: map-get(settings.$link, 'font-size');
    font-weight: map-get(settings.$link, 'font-weight');

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: map-get(settings.$link, 'border-width');
        max-width: 0;
        background-color: transparent;
        transition: $transition-duration $transition-timing-function;
    }

    &:hover::after {
        max-width: 100%;
    }

    &.disabled {
        pointer-events: none;
        opacity: .5;
    }
}

.link {
    @each $name, $value in settings.$theme-colors {

        @if ($name == 'default') {
            color: #{map-get($value, 'text')};

            &:hover {
                color: #{map-get($value, 'text-hover')};

                &::after {
                    background-color: #{map-get($value, 'text-hover')};
                }
            }
        }
        @else {
            &.link-#{$name} {
                color: #{map-get($value, 'text')};

                &:hover {
                    color: #{map-get($value, 'text-hover')};

                    &::after {
                        background-color: #{map-get($value, 'text-hover')};
                    }
                }
            }
        }

    }
}